{% extends 'base.html' %}


{% block content %}

 <nav aria-label="breadcrumb" class="pt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>

  </ol>
    </nav>

 <div class="row">
          {% for room in category_rooms %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ room.get_absolute_url }}"><img class="card-img-top" src="{{ room.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ room.get_absolute_url }}">{{ room.title }}</a>
                </h4>
                <h5>{{ room.price }}</h5>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>

{% endblock content %}