{% extends 'base.html' %}
{% load specifications %}
{% block content %}
 <nav aria-label="breadcrumb" class="pt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ room.category.get_absolute_url }}">{{ room.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ room.title }}</li>
  </ol>
    </nav>
<div class="row">

    <div class="col-md-4">
        <img src="{{ room.image.url }}" class="image.fluid" style="width: 250px; height: 250px;">
    </div>
    <div class="col-md-8">
        <h3>
            {{ room.title }}
        </h3>
        <p>Цена: {{ room.price }} грн.</p>
        <p>Описание: {{ room.description }}</p>
        <hr>

    </div>
    <div>
        <p class="mt-4">Характеристики: </p>

        {{ room | room_spec }}

    </div>
</div>


{% endblock content %}