<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Размер номера</td>
      <td>{{ room.size }}</td>
    </tr>
  <tr>
      <td>Кровать</td>
      <td>{{ room.bed }}</td>
    </tr>
  <tr>
      <td>Ванная комната</td>
      <td>{{ room.bathroom }}</td>
    </tr>
  <tr>
      <td>Кухня</td>
      <td>{{ room.kitchen }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>